<div class="container-fluid wraped">

	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="/inicio">MercaTec</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactanos">Contacto</a>
                </li>
                <!-- Dropdwon-->
                <!-- 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Carfax</a>
                        <a class="dropdown-item" href="#">Carproof</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Omnivic</a>
                    </div>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link btn border border-light" id="acceder" type="button" href="#">Acceder</a>                  
                </li>
                <li class="nav-item">
                    <a class="nav-link btn border border-light" id="registrarse" type="" href="/registro">Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
